<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="dashboard-box">

        <div class="container">

            <div class="title">
                <h1>Student Management System</h1>
                <p>Manage student records efficiently</p>
            </div>

            <div class="grid">

                <a href="/add" class="menu-card add">
                    ➕ Add Student
                </a>

                <a href="/view" class="menu-card view">
                    👀 View Students
                </a>

                <a href="/search" class="menu-card search">
                    🔍 Search Student
                </a>

                <a href="/update" class="menu-card update">
                    ✏️ Update Student
                </a>

                <a href="/delete" class="menu-card delete">
                    🗑 Delete Student
                </a>

            </div>

        </div>

    </div>

</body>
</html>